.signup-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    width:60%
}
.signup-card-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding:30px;
}