.select-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:40vw;
}
.card{
    width:100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}